.form-group {
    width: 40%;
    font-size: 1rem;
    color:black;
    margin-bottom: 5px;
    text-align: center;
    
    
    
  }

  .btn {
    background-color: burlywood;
  }
  
  .searchbar{
    box-shadow: 0 3px 6px #999
  }